<!DOCTYPE html>
<html>
<body>

<h1>Júlio César Fonseca de Paula Mussi  |   Currículo</h1>
<p>[Rua Manoel Andrade 201, Salvador, Bahia, 41810-815] (75)99277-5429]
<br><br>Educação:</br>
<br>Graduando em Engenharia de Computação — Universidade Salvador</br>
<br><br>Certificação:</br>
<br>RaspberryPI pelo DAECOMP – Universidade Salvador</br>
<br> Conclusão nível avançado CCAA</br>

</body>
</html>
